*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
.container{
    margin: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #3498db;
}
.box span{
    color: white;
}
