*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content-box{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.content{
    padding: 20px 0;
    flex-basis: 25%;
    border-radius: 5px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    text-align: center;
}
.content span{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    gap: 10px;
    padding: 20px;
}


.flex-50-plus {
    flex-basis: calc(50% + 10px); 
}
